extends layout

block head
	script(type='text/javascript', src='/javascripts/environmentDashboard.js')

block content

	script.
		var env = '#{title}'
	
	h4 #{title} Summary Report:
	table.table
		thead
			tr
				th(scope='col') Overall Status
				th(scope='col')#overall-status
		tbody
			tr
				th(scope='row') Total Applications
				td#total-products 0
			tr
				th(scope='row') Total Passed
				td#total-passed 0
			tr
				th(scope='row') Total Failed
				td#total-failed 0
			tr
				th(scope='row') Total Timeout
				td#total-timeout 0

	#red-products(hidden)
		h6 Failed Health Checks
			ul#red-products-list.list-group

	h4 Applications in #{title}:

	table.table
		thead
			th(scope='col') Application
			th(scope='col') Status
			th(scope='col') Details
			//th(scope='col') Version
			th(scope='col') Server
		tbody
		each app in apps.list
			tr( id=(app+'-row') )
				th.product-list(scope='row')= app
				td( id=(app+'-status-cell') )
				td( id=(app+'-details-cell') )
				//td( id=(app+'-version-cell') )
				td( id=(app+'-link-cell') )